@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar {
  @apply rounded-full overflow-hidden w-52 h-52 -mt-10 border-white border-4;
}

.main-nav {
  @apply border-t-slate-300;
  border-top-width: 1px;
}

.main-nav ul li a {
  display: block;
  font-weight: 500;
  border-bottom: 4px solid;
  @apply p-6 text-slate-500 border-transparent relative;
}

.main-nav ul li a:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  right: 0;
  bottom: 0;
  @apply bg-transparent -z-10 rounded-md transition-all;
}
.main-nav ul li a:hover:before {
  @apply bg-slate-100;
}

.main-nav ul li.active a {
  @apply text-blue-500 border-blue-500;
}
.main-nav ul li.active a:before {
  display: none !important;
}

.panel {
  @apply rounded shadow bg-white p-4;
}

h3 {
  @apply text-xl font-bold mb-4;
}

.badges li {
  @apply w-10 h-10 rounded-full flex justify-center border-2 -ml-2 border-white items-center;
}
